*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

header {
  width: 100%;
  height: 20%;

}
header img{
  position: relative;
  width: 100%;
  height: 100%;
}
header h3{
  position: absolute;
  color: white;
}
.form{
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  
}
#image img{
  width: 500px;
  height: 500px;
  float: left;
}
#login{
  display: block;
  float: right;
  height: 500px;
  border-radius: 10px;
  padding: 6px;
}
#signup{
  display: none;
  height: 500px;
  border-radius: 10px;
  padding: 20px;
}
#container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 0.5px grey;
  border-radius: 10px;
}
#cocktailList{
  float: left;
}
#details{
  float: right;
  display: flex;
  flex-direction: column;
  width: 80%;
  height:40% ;
}
#details img{
  width: 90%;
  height: 300px;
}
#ingre{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
}
#instruction{
  text-align: center;
  padding: 20px 0px;
}
