*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

header {
  width: 100%;
  height: 60%;
  color: white;
  background-image: url("./cocktail.jpg");
}

#login{
  display: block;
}
#signup{
  display: none;
}
